.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .loader h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #clock {
    margin-top: 10px;
    font-size: 16px;
    color: #333;

  }
  .imgCabecera img {
  width: 100%;  
  height: 5%;
  display: flex;
  flex-wrap: wrap;/*Si el elemento ocupa todo el ancho, el siguiente elem se posiciona en la siguiente linea*/
  align-items: center;/*centra horizontal*/
  align-content: center;/*centra vertical*/
  text-align: center;/**/
}
  
  